{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
{% for category in categories %}
    <div class="btn-group">
        <a href="{{ category.get_absolute_url }}" class="btn btn-danger">{{ category.name }}</a> 
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            {% for sub in subcategories %}
                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
    <br/><br/>
    {% for product in products %}
        <div class="card" style="width: 18rem; display: inline-block;">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

