<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">

    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'accounts:Logout' %}">Logout</a>
        {% else %}
       <a class="navbar-brand" href="{% url 'accounts:Register' %}">Register</a>
       <a class="navbar-brand" href="{% url 'accounts:Login' %}">Login</a>
       {% endif %}
       <a class="navbar-brand active " href="{% url 'home:home' %}">Cart {{cart|length}}</a>
     </div>
    </div>
  </nav>
